<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oscar Search</title>
    <style>
        body {
            font-family: monospace;
            margin: 0;
            text-align: center;
        }

        div {
            width: 50%;
            margin: 0 auto;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Oscar Search</h1>
    <div>
        Use as rotas "/vencedores/ano" e "/nao_vencedores/ano" para pesquisar os vencedores e indicados não vencedores.
        <p>Ex.: <a href="/vencedores/2023">/vencedores/2023</a></p>
    </div>
</body>
</html>